.grid {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 600px;
    margin-left: 30%;
    margin-top: 40px
}

#title {
    font-family: 'Shojumaru', cursive;
    text-align: center;
    font-size: 50px;
}

h3 {
    font-family: 'Shojumaru', cursive;
    text-align: center;
    font-size: 36px;
}

#result {
    font-family: EuphemiaUCAS;
    font-size: 36px;
}

img {
    width: 150px !important;
    height: 150px !important
}

#gif {
    height: 450px !important; 
    width: 600px !important;
    margin-left: 30% !important;
}

#playButton {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    border-radius: 10px;
    font-family: 'Shojumaru', cursive;
    font-size: 24px;
    margin-left: 40%;   
    border-color: black;
    cursor: pointer;
}

button:hover {
    background-color: #6888ED;
}


